{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <h3 class="text-center mb-4">🔐 Admin Login</h3>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="alert alert-{{ 'success' if category == 'success' else 'danger' }}">{{ message }}</div>
            {% endfor %}
        {% endwith %}

        <form method="POST">
            <div class="mb-3">
                <label>Username</label>
                <input type="text" name="username" class="form-control" required placeholder="Username">
            </div>
            <div class="mb-3">
                <label>Password</label>
                <input type="password" name="password" class="form-control" required placeholder="Password">
            </div>
            <button class="btn btn-primary w-100">Login</button>
        </form>
    </div>
</div>
{% endblock %}
